<!DOCTYPE html>
<html lang="en">

  <head>
    <title>POS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body style="font-size: 16px; background-color: #192229; color: #C8CDD0;">
    <header>
      <div>
        <%- include('layout/BarraInicial'); %>
      </div>
    </header>

    <main class="container border border-dark" style="background-color:  #212E36;">
      <div>
        <h1 class="text-center font-weight-bold" style="font-size: 5em; color: transparent; text-shadow: 0 0 0.1em red, 0 0 0 white;"> PIZZERIA NAPOLES </h1>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure id tempora inventore consequuntur praesentium quia expedita, ea voluptate, recusandae necessitatibus nihil dicta laborum quam perspiciatis, odit ut ipsam magnam provident voluptates ipsa rem ducimus. Repellat quod nam non enim minima quo corrupti deleniti aperiam rem illum officiis ipsam autem accusamus commodi accusantium, animi omnis, sed sapiente. Autem dolore repudiandae consequatur vero recusandae sequi, alias reiciendis praesentium architecto accusamus odio asperiores doloremque repellendus non qui quasi magnam iste molestias? Illum repellat mollitia, itaque asperiores, corrupti recusandae nobis dolor quasi minima cum assumenda, nostrum pariatur! Temporibus omnis, in quam provident hic fugiat, ex atque fugit magnam mollitia eveniet voluptatibus suscipit autem. Repellendus eum, eligendi incidunt adipisci nihil excepturi fugit voluptatum! Error fugiat eveniet similique quibusdam voluptatem temporibus laborum consequuntur obcaecati, enim veniam repudiandae maiores eius quaerat tempore aut iure sit repellendus natus aspernatur amet ullam. Praesentium consequuntur iste modi ipsum voluptatibus amet perferendis inventore voluptate velit, id et ut magni accusamus consequatur minus natus ipsam asperiores nulla dicta! Maiores, sit aliquam temporibus culpa fuga labore amet necessitatibus, neque qui dolore perspiciatis pariatur ut numquam minus eveniet enim voluptas atque non iste voluptatum, suscipit sint a soluta? Placeat assumenda a ex. Sed placeat perferendis consectetur nesciunt. Nulla sit dolorum at in iure ex omnis labore eos vero odio non quam, atque veniam? Accusamus similique, autem molestias iste nihil possimus magnam porro repudiandae distinctio dicta sapiente neque natus soluta officia laudantium placeat architecto omnis, sequi necessitatibus quod? Dolore nisi sed cupiditate voluptatibus enim, commodi aperiam iste natus, cumque accusantium fugit ab repellendus veritatis molestias illum harum. Culpa quo eligendi optio officia, dolorem tempore eveniet quisquam officiis. Facere cumque cum fuga officiis? Modi error illo recusandae harum laborum molestias dolorem maiores, ut animi reprehenderit vero consequuntur. Optio hic voluptates mollitia, ad eaque officia magnam est quos porro corporis voluptate nemo, perspiciatis eveniet aliquid beatae eligendi aut asperiores! Consequuntur, aspernatur optio repudiandae voluptatibus quo nostrum quibusdam tempore earum officiis accusantium? Facilis vel ipsam suscipit quisquam libero, ipsum ad vero qui nam recusandae, illum, quam quae at enim. Doloremque doloribus suscipit delectus non harum porro, quos quam nulla fuga totam, ducimus voluptas modi minus explicabo quidem fugit itaque nihil cum ipsum fugiat omnis eligendi nostrum ullam! Ducimus illo necessitatibus consectetur amet, a ad.</p>
    </main>

    <footer>
      <div>
        <%- include('layout/PieDePagina'); %>
      </div>
    </footer>
  </body>

</html>