<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('layout/menu'); %>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>FORMULARIO DE PASTAS</h3>
            </div>
            <div class="card-body">
                <form action="/pastas/save" method="post">
                    <div class="form-group">
                        <label for="txtIdPastas">IDPASTAS</label>
                        <input type="text" class="form-control"
                            id="txtIdPastas"
                            name="idPastas"
                            value="<%= pastasForm.idPastas %>"
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="txtPastas">PASTAS</label>
                        <input type="txt" class="form-control"
                            id="txtIdPastas"
                            name="pastas"
                            value="<%= pastasForm.pastas %>">
                    </div>
                    <div class="form-group">
                        <label for="txtDescripcion">DESCRIPCION</label>
                        <input type="txt" class="form-control"
                            id="txtDescripcion"
                            name="descripcion"
                            value="<%= pastasForm.descripcion %>">
                    </div>
                    <div class="form-group">
                        <label for="txtPrecio">PRECIO</label>
                        <input type="text" class="form-control"
                            id="txtPrecio"
                            name="precio"
                            value="<%= pastasForm.precio %>">
                    </div>
                    <input type="submit" class="btn btn-success" value="GUARDAR">
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div>
          <%- include('layout/PieDePagina'); %>
        </div>
    </footer>
</body>
</html>