<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <div id="navbarNavDropdown">
        <ul class="navbar-nav"> 
            <li class="nav-item active">
                <a class="navbar-brand" style="font-size: 1.3em; color: transparent; text-shadow: 0 0 0.001em red, 0 0 0 white;" href="/">PIZZERIA NAPOLES</a>
            </li>
            <li>
                <a class="nav-link" href="/pizza/list"> Supervisor </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Prodructos
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"> Pizzas </a>
                    <a class="dropdown-item" href="/"> Pastas </a>
                    <a class="dropdown-item" href="/"> Bebidas </a>
                    <a class="dropdown-item" href="/"> Extras </a>
                    <a class="dropdown-item" href="/"> Combos </a>
                    <a class="dropdown-item" href="/"> Promociones </a>
                </div>
            </li>
        </ul>
    </div>
    <div id="navbarNavDropdown">
        <ul class="navbar-nav">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"> Registrarse </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"> Iniciar sesión </a>
            </li>
        </ul>
    </div>
    <!-- <ul class="navbar-nav align-middle ">
        <li class="nav-item active">
            <a class="nav-link" style="font-size: 1.5em;" href="/"> PIZZERIA NAPOLES </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pizza/list"> EDITAR PRODUCTOS </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/"> REGISTRARSE </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/"> INICIAR SESION </a>
        </li>
    </ul> -->
</nav>