<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <div id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="navbar-brand"
                    style="font-size: 1.3em; color: transparent; text-shadow: 0 0 0.001em red, 0 0 0 white;"
                    href="/">PIZZERIA NAPOLES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    PRODUCTOS
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pizza/list">PIZZAS</a>
                    <a class="dropdown-item" href="/pastas/list">PASTAS</a>
                    <a class="dropdown-item" href="/bebidas/list">BEBIDAS</a>
                    <a class="dropdown-item" href="/extras/list">EXTRAS</a>
                    <a class="dropdown-item" href="/combos/list">COMBOS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    USUARIOS
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pizza/list">Supervisores</a>
                    <a class="dropdown-item" href="/pastas/list">Empleados</a>
                    <a class="dropdown-item" href="/bebidas/list">Clientes</a>
                </div>
            </li>
        </ul>
    </div>
    
    <div id="navbarNavDropdown">
        <ul class="navbar-nav">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"> Registrarse </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"> Iniciar sesión </a>
            </li>
        </ul>
    </div>
</nav>