<footer class="bg-dark navbar-dark text-center text-secondary navbar-expand-sm" style="text-transform: uppercase;">
    <!-- <marquee scrollamount=20px direction=right> ◄ Tecnovación ► </marquee> -->
    <div class="nav justify-content-center" style="display: flex;">
        <aside class="justify-content-between" style="margin: 5px; width: 25em; text-decoration: none;">
            <h3 style="padding: 5px 0; color: #C8CDD0;"> Contáctanos </h3>
            <div class="justify-content-center" style="text-decoration: none; display: flex;">
                <a class="nav-link text-secondary" href=""> 912 345 678 </a>
                <a class="nav-link text-secondary" href=""> tecnovacion@gmail.com </a>
            </div>
        </aside>

        <aside class="justify-content-between" style="margin: 5px; width: 25em;">
            <h3 style="padding: 5px 0; color: #C8CDD0;"> Síguenos </h3>
            <div class="justify-content-center" style="text-decoration: none; display: flex;">
                <a class="nav-link text-secondary" href="https://web.facebook.com/"> Facebook </a>
                <a class="nav-link text-secondary" href="https://www.instagram.com/"> Instagram </a>
            </div>
        </aside>
    </div>
    <h1 style="font-size: 18px; padding: 5px 0; color: #C8CDD0; box-shadow: 0 0 30px inset #ff2301;">
        COPYRIGHT®pizzerianapoles
    </h1>
</footer>